UnityAR/
Propel app info.docx
UMKCPropel/docs/
UMKCPropel/source/.sourcemaps
UMKCPropel/source/node_modules
UMKCPropel/source/platforms
UMKCPropel/source/plugins
UMKCPropel/source/resources
UMKCPropel/source/typings
UMKCPropel/source/www